.history/
--wallet.hotkey/
lead_pool.json
leadpoet_subnet.egg-info/

# Testing and Development
*.pytest_cache/
coverage/
.coverage
*.tox/# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
*.egg

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.history/
# Leadpoet-specific
--wallet.hotkey/
lead_pool.json/
leadpoet_subnet.egg-info/
.history/

